@use '../../abstracts/devices' as *;

html {
  @media #{$break1}, #{$break2} {
    font-size: 50%; // 1rem = 8px
  }
  @media #{$break3} {
    font-size: 56.25%; // 1rem = 9px
  }
  @media #{$break4} {
    font-size: 62.5%; // 1rem = 10px
  }
  @media #{$break5} {
    font-size: 75%; // 1rem = 12px
  }
}

body {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #fff;
}
