$break1: '(max-width: 349px)';
$break2: '(min-width: 349px) and (max-width: 649px)';
$break3: '(min-width: 650px) and (max-width: 1199px)';
$break4: '(min-width: 1200px) and (max-width: 1599px)';
$break5: '(min-width: 1600px)';
