@use '../../styles/abstracts/devices' as *;

.hero {
  text-align: center;

  // Tablet + desktop
  @media #{$break3}, #{$break4}, #{$break5} {
    margin: 2rem auto 5rem auto;
  }
  // Mobile
  @media #{$break1}, #{$break2} {
    margin: 2rem auto 4rem auto;
  }
}

.title {
  margin-bottom: 1.2rem;
  font-weight: 800;
  line-height: 1.3;

  // Tablet + desktop
  @media #{$break3}, #{$break4}, #{$break5} {
    font-size: 4rem;
  }
  // Mobile
  @media #{$break1}, #{$break2} {
    font-size: 3.5rem;
  }
}

.text {
  font-size: 2rem;

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}
